streamlit>=1.35.0
google-generativeai>=0.8.3
pandas
numpy
librosa
soundfile
pydub
requests
streamlit-player
streamlit-js-eval
gTTS
pytz
geopy
folium
streamlit-folium
firebase_admin
timezonefinder
streamlit-webrtc
streamlit-autorefresh
streamlit-google-auth
Authlib
psutil
matplotlib
streamlit
folium
streamlit-folium
osmnx
networkx
streamlit
replicate
