streamlit>=1.35.0
google-generativeai>=0.8.3
pandas
numpy
Pillow
requests
python-dotenv

firebase-admin==6.5.0

streamlit-player
streamlit-js-eval
streamlit-autorefresh
streamlit
opencv-python-headless
numpy
gTTS
pytz
streamlit
edge-tts
geopy
timezonefinder
streamlit-geolocation

folium
streamlit-folium
Path
matplotlib

networkx

Authlib
streamlit-google-auth

aiohttp

pydantic
 
shapely
