suno-api
streamlit
streamlit>=1.35.0
google-generativeai>=0.8.3
pandas
numpy
librosa
soundfile
pydub
requests
streamlit-player
streamlit-js-eval
torch
gTTS
pytz
geopy
folium
streamlit-folium
firebase-admin
timezonefinder

